# Force LF line endings everywhere: in the repository and in the working tree
* text=auto eol=lf

# Binary files that should not be modified
*.dat binary
*.db binary
*.icns binary
*.ico binary
*.jar binary
*.jks binary
*.jpg binary
*.key binary
*.png binary
*.ttf binary
*.wav binary
JavaApplicationStub binary
